img {
    width: 100%;
    height: 30em;
    margin-bottom: 7%;
    object-fit: cover;
    cursor: pointer;
}

img:hover {
    opacity: 0.5;
}

img.ng-lazyloaded {
    animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}