.modal-body {
    padding: 0.5rem !important;
}

.closeBtn {
    width: 4%;
    position: absolute;
}

.forwardBtn {
    width: 4%;
    position: absolute;
    margin-top: 30%;
    margin-left: 92%;
}

.fa-chevron-left {
    width: 4%;
    position: absolute;
    margin-top: 30%;
    margin-left: 1.5%;
}

.imgBtn:hover {
    opacity: 0.5;
}

.modal-content, .actualImg {
    height: 39em;
    object-fit: contain;
}

