.modal-body {
    padding: 0.5rem !important;
}

.fa-times {
    width: 4%;
    position: absolute;
    margin-left: 93.5%;
    cursor: pointer;
}

.fa-chevron-left {
    width: 10%;
    height: 100%;
    position: absolute;
    padding-top: 25%;
    padding-left: 2%;
    cursor: pointer;
}

.fa-chevron-right {
    width: 10%;
    height: 100%;
    position: absolute;
    margin-top: 5%;
    padding-top: 20%;
    padding-left: 4%;
    margin-left: 89.5%;
    cursor: pointer;
}

.fa-lg {
    font-size: 2em;
}

.fa-lg:hover {
    opacity: 0.5;
}

.modal-content, .actualImg {
    height: 39em;
    object-fit: contain;
}

