
@media(min-width: 320px) {
    .emailRow, .nameRow, .serviceRow, .eventDateRow {
        width: 85%;
        margin-left: 5%;
    }

    .moreInfoRow {
        width: 90%;
        margin-left: 5%;
    }
    
    .submitDiv {
        width : 90%;
        margin-left: 3%;
        margin-bottom: 20%;
        margin-top: -2%;
    }

    .submitBtn {
        margin-left: auto;
        margin-right: auto;
    }

    input, select {
        height: 2em;
        width: 100%;
        background-color: white;
        margin-bottom: 3%;
        border-color: transparent;
        border-bottom: 1px solid black;
     }

     select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -webkit-border-radius: 0px;
    }

     textarea {
        height: 10em;
        width: 97%;
        margin-bottom: 3%;
        border-bottom: 1px solid black;
    }

    .catGif {
        width: 10vh;
        margin-left: 62vw;
        margin-top: 7vw;
        position: absolute;
    
    }
}

@media(min-width: 640px) {
    .emailRow, .nameRow, .serviceRow, .eventDateRow {
        width: 41%;
        margin-left: 5%;
        margin-right: 0%;
    }

    .catGif {
        width: 12vw;
        margin-left: 50vw;
        margin-top: 3vw;
        position: absolute;
    
    }

    .textareaLabel {
        position: relative;
        font-size: 1em;
        font-weight: normal;
        line-height: 1.8;
        color: #0a0a0a;
        font-family: chalkduster;
    }
}

@media(min-width: 1025px) {

    .catGif {
        width: 5em;
        margin-left: 35em;
        margin-top: 2.5em;
        position: absolute;
    
    }
}

.column {
    display: flex;
    flex-wrap: wrap;
}

.error {
    border-color: red;
    border-style: solid;
    border-width: 0.5px;
}

.errorText {
    color: red;   
    width: 100%
}

select:invalid {
    color: grey;
}

.myForm {
    margin-top: -5%;
}

.mainLabel {
    position: relative;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.8;
    color: #0a0a0a;
    font-family: chalkduster;
}

p {
    margin: 0%;
}

.successMessage {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

button {
    margin-top: 3% !important;
    background-color: white;
    border: 1px solid black;
}

button:disabled {
    color: black;
    opacity: 0.5;
}


.fieldDisabled
{
  pointer-events: none;
  opacity: 0.4;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.container {
    margin-top: 5%
}

.inquireText {
    margin-left: auto;
    margin-right: auto;
}
