


<div class="MainContainer">

  <div class="ParallaxContainer">
  </div>

  <div class="ContentContainer">
    <div class="content">
      <div class="row">
          <div class="text-column">
            <div class="header">column1</div>
            <div class="body">
                Sweet tootsie roll cheesecake jujubes brownie fruitcake icing biscuit topping. Danish carrot cake brownie liquorice gummi bears apple pie gingerbread dragée. Jelly pie cupcake chocolate bar. Liquorice powder gummies cake cookie tootsie roll soufflé jelly-o danish. Gummies muffin ice cream chocolate gummies sweet roll oat cake biscuit.
            </div>
          </div>
          <div class="text-column">
            <div class="header">column2</div>
            <div class="body">
                Sweet tootsie roll cheesecake jujubes brownie fruitcake icing biscuit topping. Danish carrot cake brownie liquorice gummi bears apple pie gingerbread dragée. Jelly pie cupcake chocolate bar. Liquorice powder gummies cake cookie tootsie roll soufflé jelly-o danish. Gummies muffin ice cream chocolate gummies sweet roll oat cake biscuit.
            </div>
          </div>
          <div class="text-column">
            <div class="header">column3</div>
            <div class="body">
                Sweet tootsie roll cheesecake jujubes brownie fruitcake icing biscuit topping. Danish carrot cake brownie liquorice gummi bears apple pie gingerbread dragée. Jelly pie cupcake chocolate bar. Liquorice powder gummies cake cookie tootsie roll soufflé jelly-o danish. Gummies muffin ice cream chocolate gummies sweet roll oat cake biscuit.  
            </div>
          </div>
      </div>
      <div class="row">
        <div class="column">
          <gallery-image *ngFor="let image of _images | slice:0:5" [images]="_images" [imagesIndex]="_images.indexOf(image)" ></gallery-image>
        </div>
        <div class="column">
          <gallery-image *ngFor="let image of _images | slice:5:10" [images]="_images" [imagesIndex]="_images.indexOf(image)" ></gallery-image>
        </div>
        <div class="column">
          <gallery-image *ngFor="let image of _images | slice:10:15" [images]="_images" [imagesIndex]="_images.indexOf(image)" ></gallery-image>
        </div>
      </div>
    </div>
  </div>
</div>
