<div class="row"> 
  <button (click)="getImages"></button>
  <div class="column">
    <img src="../../../assets/images/_DSC8860.jpg" style="width:100%">
    <img src="../../../assets/images/three.jpg" style="width:100%">
    <img src="../../../assets/images/two.jpeg" style="width:100%">
    <img src="../../../assets/images/one.jpg" style="width:100%">
    <img src="../../../assets/images/_DSC8860.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../../../assets/images/_DSC8860.jpg" style="width:100%">
    <img src="../../../assets/images/two.jpeg" style="width:100%">
    <img src="../../../assets/images/three.jpg" style="width:100%">
    <img src="../../../assets/images/one.jpg" style="width:100%">
    <img src="../../../assets/images/_DSC8860.jpg" style="width:100%">
  </div>
    <div class="column">
      <img src="../../../assets/images/_DSC8860.jpg" style="width:100%">
      <img src="../../../assets/images/three.jpg" style="width:100%">
      <img src="../../../assets/images/two.jpeg" style="width:100%">
      <img src="../../../assets/images/one.jpg" style="width:100%">
      <img src="../../../assets/images/_DSC8860.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="../../../assets/images/_DSC8860.jpg" style="width:100%">
      <img src="../../../assets/images/three.jpg" style="width:100%">
      <img src="../../../assets/images/two.jpeg" style="width:100%">
      <img src="../../../assets/images/one.jpg" style="width:100%">
      <img src="../../../assets/images/_DSC8860.jpg" style="width:100%">
    </div>
</div>            

