.image-column {
    width: 22em;
    margin-left: 2%;
}

.text-column {
    width: 22em;
    margin-left: 2%;
    text-align: center;
    padding-bottom: 4em;
}


.image-column:nth-child(even) {
    margin-top: 5%;
}

.content {
    margin-left: 4.6%; // helps center things
}

.card {
    width: 25em;
    margin-top: 1em;
    border-radius: 0;
    border-color: darkgrey;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 0;
    border-color: darkgrey;
    text-align: center;
}

.card-header {
    color: white;
    background-color: darkgrey;
    text-align: center;
    border-radius: 0;
    border-color: darkgrey;
}

.card-footer {
    border-radius: 0;
    border-color: darkgrey;
}

.pricing {
    justify-content: center;
    padding-bottom: 5%;
    margin-left: -6.6%; // offsets the margin left of content. 
}


.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
.ContentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
}

.WeddingParallaxContainer {
    width: 100vw;
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 90vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url("../../../assets/images/_DSC8546-3.jpg") no-repeat;
    background-size: cover;
    background-position: 0px;
  }

  .CoupleParallaxContainer {
    width: 100vw;
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 90vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url("../../../assets/images/_DSC8535-2.jpg") no-repeat;
    background-size: cover;
    background-position: 0px;
  }

  .body {
      padding: 0em 1.5em;
  }

  .header {
    padding: 4em 0em 1em 0em;
    font-size: 125% !important;
    font-family: "PT Sans Narrow",Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: rgba(0,0,0,1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.45em;
    word-spacing: 0.00em;
    text-transform: uppercase;
    font-variant: normal;
  }
