<div 
  [ngClass]="currentPage === '/wedding' ? 'WeddingContainer' : 
            currentPage === '/elopement' ? 'ElopementContainer' :
            currentPage === '/family' ? 'FamilyContainer' : 
            currentPage === '/couple' ? 'CoupleContainer' : '' ">
</div>
<div class="content">
  <div class="row imageGrid">
    <div class="column imageColumn">
      <gallery-image *ngFor="let image of _images | slice:0:numImages/3" [images]="_images" [imagesIndex]="_images.indexOf(image)" ></gallery-image>
    </div>
    <div class="column imageColumn">
      <gallery-image *ngFor="let image of _images | slice:numImages/3:numImages*(2/3)" [images]="_images" [imagesIndex]="_images.indexOf(image)" ></gallery-image>
    </div>
    <div class="column imageColumn">
      <gallery-image *ngFor="let image of _images | slice:numImages*(2/3):numImages" [images]="_images" [imagesIndex]="_images.indexOf(image)" ></gallery-image>
    </div>
  </div>
</div> 
