
.imageGrid {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    margin-left: -3.5%;
    margin-right: 0.3%;
}

.imageColumn:nth-child(1) {
    flex: 33%;
    max-width: 33%;
}
.imageColumn:nth-child(2) {
    flex: 33%;
    max-width: 33%;
    padding-left: 1.3%;
}
.imageColumn:nth-child(3) {
    flex: 33%;
    max-width: 33%;
    padding-left: 1.3%;
}

.imageColumn:nth-child(even) {
    margin-top: 5%;
}


.content {
    margin-left: 4.6%; // helps center things
    margin-top: 7vh;
}

.WeddingContainer {
    background: url("https://northernvoyages.blob.core.windows.net/northern-voyages-images/_DSC8546-3-min.jpg") no-repeat;
    height: 76vh;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ElopementContainer {
    background: url("https://northernvoyages.blob.core.windows.net/northern-voyages-images/_DSC8535-2-min.jpg") no-repeat;
    height: 76vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.FamilyContainer {
    background: url( "https://northernvoyages.blob.core.windows.net/northern-voyages-images/compressedImg3.jpg") no-repeat;
    height: 76vh;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CoupleContainer {
    background: url( "https://northernvoyages.blob.core.windows.net/northern-voyages-images/compressedImg2.jpg") no-repeat;
    height: 76vh;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}