.nav-link {
    font-size: 1.5vw;
    // font-family: "PT Sans Narrow",Arial,Helvetica,sans-serif;
    font-family: chalkduster;
    color: black;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.45em;
    word-spacing: 0.00em;
    text-transform: uppercase;
    font-variant: normal;
}

.whiteText {
    color: white !important;
}


.navbar-dark .navbar-toggler {
    color: white !important;
    border-color: white !important;
}

.navbar-brand {
    margin-right: 0px;
    margin-left: 23%;
    margin-top: 0% !important;
    width: 50%;
}

.logo {
    margin-top: 0% !important;
    width: 25%;
}
@media(max-width: 767px) {
    .logo {
        display: none;
    }
    .nav-link {
        font-size: 85%;
    }

    .dropdown-item {
        font-size: 65% !important;
        text-align: center;
        margin-top: 15% !important;
    }

    .dropdown-menu {
        border: none;
        border-radius: 0;
        display: none;
    }
        
    .dropdown-toggle::after {
        display:none;
    }
    
    .dropdown-menu.show {
        display: contents;
    }
}

@media(min-width: 768px) {
    .navbar-brand {
        display: none;
    }

    .showDropdown {
        visibility: visible !important;
    }

    .dropdown-menu {
        border: none;
        border-radius: 0;
        visibility: hidden;
        display: contents;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        margin-top: -43%;
    }
    

    .homeMenu {
        box-shadow: none;
        display: contents;
    }
    
    .dropdown-toggle::after {
        display:none;
    }

    .dropdown-item {
        text-align: center;
        font-size: 1vw;
    }
}

.dropdown-item:hover {
    background-color: transparent;
}

.blackText {
    color: black !important;
}

.nav-item {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.dropdown-toggle:focus {
    border: 0px;
    outline: 0px;
}

img {
    width: 100%;
}



.navbar {
    z-index: 9;
    margin:0px auto; 
    position: absolute;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.navbar-expand-md .navbar-collapse {
    justify-content: center;
}