/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

// *{
//     border: 1px solid red;
// }

body {
    background-color:rgb(216, 216, 216);
}

.container {
    margin-top: 10% !important;
}

.carousel-indicators { visibility: hidden; }

.margin-top {
    margin-top: 10%;
}

.modal-backdrop.show {
    background-color: rgba(211, 211, 211,0.7);
    opacity: 1.0;
}

.modal-content {
    background-color: rgba(211, 211, 211,0);
    border: 0px;
}

.modal-dialog {
    max-width: 100%;
    margin: 2.8rem auto;
}