/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

// *{
//     border: 1px solid red;
// }

body {
    background-color:rgb(216, 216, 216);
}

.container {
    margin-top: 10% !important;
}

.carousel-indicators { visibility: hidden; }

.margin-top {
    margin-top: 10%;
}