/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";


// *{
//     border: 1px solid red;
// }

body {
    // background-color:rgb(216, 216, 216);
    background-color: #FFFFFF;
}

.carousel-indicators { visibility: hidden; }

.margin-top {
    margin-top: 10%;
}

.modal-backdrop.show {
    background-color: black;
    opacity: 0.95;
}

.modal-content {
    background-color: rgba(211, 211, 211,0);
    border: 0px;
}

.modal-dialog {
    max-width: 100%;
    margin: 2.8rem auto;
}

.modal-open .modal {
    overflow-y: hidden;
}

// .MainContainer {
//     margin-top: -5.3%;
// }

@media (min-width: 1024px) {
    // html {
    //     overflow-y: hidden;
    // } 
}
html {
    overflow-x: hidden;
}