html, body {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
  }
  
  .Content {
    max-width: 75%;
    margin: 0 auto;
    padding: 75px 0;
  }
  
  p {
    margin: 75px 0;
  }
  
  .ParallaxContainer {
    background: url("https://northernvoyages.blob.core.windows.net/northern-voyages-images/_DSC8860-min.jpg") no-repeat;
    height: 75vh;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  